 
nav, footer {
    background-color: steelblue;
    padding: 10px;
    text-align: center;
  }

a {
    font-size: 1.5em;
    color: white;
    margin: 40px;
  }

  a:hover {
    background-color: white;
    color: steelblue;
  }

h1 {
    text-align: center;
    color: steelblue;
  }
  
img {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

* {
  border: 2px solid blue;
}  

p {
    padding: 10px;
  }

main p {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}  

footer {
    background-color: steelblue;
    color: white;
  }  

#active {
  background-color: white;
  color: steelblue;
}

.main-para{
  font-size: 1.5em;
  line-height: 1.5em;
  }
footer p {
  font-size: 20px;
  margin: 20px auto;
}