
header {
    background-color: gray;
    width: 100.3%;
    height: 100px;
    display: grid;
    margin-top: -8px;
    
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
    justify-items: space-around;
}

nav a {
    text-align: center; 
    color: #A42212;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 35rem;
    
    
}

nav a:hover {
    background-color: #a60512;
    color: white; 
}

body {
    background-color: #18acf0;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    margin-top: 300px;
    width: 15rem;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 76.8rem;
  }

footer{
    width: 93.8%;
    background-color: gray;  
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}

footer .social img {
    padding-top: 15px;
    justify-items: space-around;
}

footer, a {
    background-color: gray; 
    color: #a60512;
    text-decoration: none;
    justify-items: space-around;
    margin-right: 20px;
}

footer p {
    font-size: 1.2em;
    text-align: center;
    justify-items: space-around;
}

footer p a:hover {
    text-decoration: underline;
    background-color: #a60512;
    color: white;   
}   

.logo-footer {
    width: 7rem;
    margin-left: -8%;
}
