@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
header {
    background-color: gray;
    width: 100.3%;
    height: 100px;
    display: grid;
    margin-top: -8px;
    
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
    justify-items: space-around;
}

nav a {
    font-family: 'Orbitron', sans-serif;
    text-align: center; 
    color: #A42212;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 35rem;
}

nav a:hover {
    background-color: #a60512;
    color: white; 
}

body {
    background: linear-gradient(70deg, #a60512, #18acf0);
}

.world {
    width: 94.3rem;
    height: 40rem;
}

.providing-support {
    display: grid;
    grid-template-columns: 50% 28.5% 21.5%;  
}

.support {
    grid-column: 1;
    width: 45rem;
    height: 38rem;
}

.about-support {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.4em;
    grid-column: 2;
    margin-top: 50px;
   
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #18acf0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: gray;
  }
  
  /* Add a background color and some padding around the form */
  .form {
    grid-column: 3;
    width: 18rem;
    border-radius: 5px;
    background: linear-gradient(70deg, #A42212, #18acf0);
    padding: 20px; 
  }

footer{
    width: 88rem;
    background-color: gray;  
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}

footer .social img {
    padding-top: 15px;
    justify-items: space-around;
}

footer, a {
    font-family: 'Orbitron', sans-serif;
    background-color: gray; 
    color: #a60512;
    text-decoration: none;
    justify-items: space-around;
    margin-right: 20px;
}

footer p {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2em;
    text-align: center;
    justify-items: space-around;
}

footer p a:hover {
    font-family: 'Orbitron', sans-serif;
    text-decoration: underline;
    background-color: #a60512;
    color: white;   
}   

.logo-footer {
    width: 7rem;
    margin-left: -8%;
}
